/* setup */


@font-face {
    font-family: Khula-Light;
    src: url("Khula-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: 300;
}

* {
    margin: 0;
    padding: 0;
}

:root {
    --font-size-small: 3.8rem;
    --font-size-normal: 2.2rem;
    --font-size-medium: 2.8rem;
    --font-size-medium-1: 3.6rem;
    --font-size-large: 5.5rem;
    --font-size-huge: 7.5rem;
    --font-stack: 'Roboto', sans-serif;

    --line-height-normal: 1.7;
    --line-height-small: 1.2;

    --container-max-width: 1180px;
    --container-normal-width: 800px;
    --container-medium-width: 700px; 
    --container-small-width: 500px;

    --gutter-huge: 12rem;
    --gutter-medium: 6rem;
    --gutter-normal: 3rem;
    --gutter-small-1: 2.5rem;
    --gutter-small: 2rem;
}

html,
body {
  width: 100%;
  height: 100%;
}

html {
    font-size: 25.5%; 
    box-sizing: border-box;
    scroll-behavior: smooth;
}



body {
    font-size: var(--font-size-small);
    font-family: var(--font-stack);
    font-weight: 200;
    color: var(--white-1);
    line-height: var(--line-height-normal);
    overflow-x: hidden;
    background: linear-gradient(-45deg, #f5fecd, #e9fd92, #ffffff, #ffffff);
    background-size: 400% 400%;
    animation: gradient 20s ease infinite;
}

@keyframes gradient {
    0% {
    background-position: 0% 20%;
    transform: translateZ(0);
    }
    20% {
        background-position: 5% 5%;
        transform: translateZ(0);
    }
    35% {
        background-position: 10% 10%;
        transform: translateZ(0);
    }
    50% {
    background-position: 10% 10%;  /*100% 50%;*/
    transform: translateZ(0);
    }
    75% {
        background-position: 30% 30%; 
        transform: translateZ(0);
        }
    100% {
    background-position: 0% 30%;
    transform: translateZ(0);
    }
}
h1 {
    font-weight: 100;
    text-align: left;
    margin: 0;
    padding: 0;
}

/* navigation */
.nav {
    padding: 5em 5em 2em 2em;
}

.nav__items {
    display: flex;
    list-style: none;
}

.nav__item:not(:last-child) {
    margin-right: var(--gutter-medium);
}

@media(max-width: 500px) {
    .nav {
        justify-content: left;
    }
}

@media(max-width: 400px) {
    .nav__item:not(:last-child) {
        margin-right: var(--gutter-normal);
    }
}

@media(max-width: 300px) {
    .nav {
        font-size: var(--font-size-small);
    }
}

.nav__link, h1 a {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: inherit;
    transition: all .2s;
}

.nav__link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 100%;
    display: inline-block;
    height: 1rem;
    background: var(--white);
}

.nav__link:hover {
    color: #455402;
}





/* footer */
.footer {
    text-align: center;
    padding: var(--gutter-medium) 0 var(--gutter-normal);
}

.footer__social-links {
    display: flex;
    justify-content: center;
    padding: var(--gutter-normal) 0;
    list-style: none;
}

.footer__social-link-item:not(:last-of-type) {
    margin-right: var(--gutter-small);
}

.footer__social-image {
    height: 4rem;
}

.footer__github-buttons {
    display: flex;
    justify-content: center;
}

.footer__github-buttons iframe {
    height: 2.5rem;
    width: 84px;
    transform: translateY(3px);
}

@media(max-width: 500px) {
    .footer {
        padding: var(--gutter-medium) 0;
    } 
}



